@using SlackTurnus.ViewModel

@model HomeViewModel

<html>
    <head>
        <title>Slackturnus</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <table>
            
            @foreach (Tuple<string, string> slackerPair in Model.PrimaryAndSecondarySlackers)
            {
                <tr>
                    <td>@slackerPair.Item1</td>
                    <td>@slackerPair.Item2</td>
                </tr>
            }<tr>
                 <td>
                     <input type="button" value="Næste" onclick=" location.href = '@Url.Action("NextPrimary", "Home")' " />
                     <input type="button" value="Spring over" onclick=" location.href = '@Url.Action("SkipPrimary", "Home")' " />
                 </td>
                 <td>
                     <input type="button" value="Næste" onclick=" location.href = '@Url.Action("NextSecondary", "Home")' " />
                     <input type="button" value="Spring over" onclick=" location.href = '@Url.Action("SkipSecondary", "Home")' " />
                 </td>
             </tr>
        </table>
    </body>
</html>
